body {
  background-color: #eeeeee;
}

.navbar {
  background-color: #542e71;
}

/* .................... */

.home {
  padding: 100px 2rem;
}

.home-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.home-box .img-box {
  justify-self: center;
}

.home-box .title-box {
  justify-self: center;
}

.home img {
  width: 500px;
}

.home h1 {
  font-size: 3rem;
  color: #907fa4;
}

.home p {
  max-width: 400px;
}

/* .................... */

.intro {
  padding: 50px 2rem;
}

.intro img {
  width: 300px;
}

.intro-box {
  max-width: 500px;
}

.intro-box h2 {
  font-size: 2.5rem;
  color: #907fa4;
}

/* .................... */

.adventures {
  padding: 50px 2rem;
}

.adventures h2 {
  margin-bottom: 75px;
  font-size: 2.5rem;
  color: #907fa4;
}

.adventures .story {
  max-width: 300px;
}

.adventures .story img {
  width: 300px;
}

.adventures .story h3 {
  font-size: 20px;
  color: #245471;
}

.adventures .story .date {
  color: #f78259;
}

/* .................... */

.tips {
  padding-top: 50px;
  padding-bottom: 50px;
}

.tips h2 {
  margin-bottom: 75px;
  font-size: 2.5rem;
  color: #907fa4;
}

.tip-box {
  max-width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.tip-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tip-box h3 {
  font-size: 20px;
  font-weight: normal;
  color: #245471;
}

.tip-box p {
  padding: 5px 20px;
  display: inline-block;
  background-color: #f37121;
  color: white;
}

/* .................... */

.join {
  padding: 50px 2rem;
}

.join h2 {
  color: #907fa4;
  margin-bottom: 2.5rem;
}

.join input {
  max-width: 300px;
  float: left;
  margin-right: 2rem;
}

.join .join-img {
  text-align: center;
}

/* .................... */

.footer {
  padding: 25px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.footer .social-media {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 1.5rem;
}

.footer .social-media a {
  text-decoration: none;
}

.footer p {
  margin-bottom: 0 !important;
}

/* ............... */

.nav-item.cont a {
  color: #e1e5ea !important;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
}

.pullDown a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  top: 0px;
  content: "";
  background: #fff;
  opacity: 0.3;
  transition: all 0.3s;
}

.pullDown a:hover:before {
  height: 100%;
}

.btn-connect {
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  color: white;
  background: #65427f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: all 0.5s;
}

.btn-connect:hover {
  background: #542e71;
  text-decoration: none;
}
